<div class="top-page text-center pb-5">
<h1 class="pt-5">Standerd Media</h1>
<h1>Media web service with basic functions</h1>
<p>Standerd Mediaは基本的な機能を持ったメディア系のWebサービスです</p>
<div><%=link_to("今すぐ登録する","/signup",class:"btn btn-warning mt-5")%></div>
<div><%=link_to("既存アカウントでログイン","/login",class:"btn btn-success mt-3 mb-5")%></div>
<h4>ログイン用アドレス</h4>
<h4>test@email</h4>
<h4>パスワード</h4>
<h4>testtest</h4>
</div>




