/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
$theme-colors: (
  primary: #0099FF,
);
@import "bootstrap";
$spacer: 2rem;


/*共通-----------------------------------------------------------*/

body{
  background-color: #F2F2F2;
}

li{
  list-style:none
}

.main {
  margin-bottom: 150px;
}

 .form-control{
   width: 50%;
   margin: 0 auto;
 }
 
 .pagenation{
   margin-left: 45%;/*margin-autoが効かない*/
   margin-top: 3%;
   text-align:center;
 }
 

/*フラッシュ-----------------------------------------------------------*/
.flash-sucsess {
  padding: 10px 0;
  color: white;
  background:#00CCCC;
  text-align: center;
  position: absolute;
  top: 71px;
  z-index: 10;
  width: 100%;
  border-radius: 0 0 2px 2px;
  font-size: 14px;
}

.flash-danger {
  padding: 10px 0;
  color: white;
  background:#FF0066;
  text-align: center;
  position: absolute;
  top: 71px;
  z-index: 10;
  width: 100%;
  border-radius: 0 0 2px 2px;
  font-size: 14px;
}



/*エラーメッセージ-------------------------------------------------------*/
.error-message{
  color: red;
  text-align:center;
}

/*ナビゲーションバー----------------------------------------------------*/
nav{
  margin-top: -23px;
}

.navbar{
  background-color:#0099FF;
}

.navbar-brand,.navbar-text, .nav-link{
  color: white;
}

.nav-link-img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/*フッター-----------------------------------------------------------*/
footer{
    color: white;
    background-color: #003366;
}

/*フォーム------------------------------------------------------------*/
form{
  text-align:center;
}
.form-wrapper{
  background-color: white;
  width: 70%;
  margin: 50px auto;
  padding: 50px;
}

/*検索フォーム---------------------------------------------------------*/
.search-item{
  display: inline-block;
}

.search-btn{
  margin-left: -200px;
}

.search-item-form{
  width: 40%;
}

/*いいねボタン---------------------------------------------------------*/
.like-btn{
  color: #A7F1FF;
  width: 15px;
  height: 15px;
}

.like-btn-unlike{
  color:black;
  opacity: 0.4;
}


/*投稿-------------------------------------------------------------------*/


.post{
  margin: 50px 200px 0;
  background-color: white;
  border-bottom: 1px solid #66FFFF;
  border-radius: 10px;
  &:hover{
    transform: translateY(-2px);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  }
}


.created_at,.likes-count{
  display: inline;
  opacity: 0.6;
}


.media-list{
    width: 80%;
}

.media{
  border-bottom:1px solid #66FFFF;
  background-color: white;
  border-radius: 10px;
  &:hover{
  transform: translateY(-2px);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  }
}

.media-post-image{
  width:70px;
  height:70px;
}
