// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*profile--------------------------------------------------------*/



.nav-tabs {
  margin-top: 100px;
}

.nav-tabs li.active {
  border-top: 2px solid #3366FF	;
}

.nav-tabs li.active a {
  color: #57575f;
}

.nav-tabs a {
  display: inline-block;
  padding: 16px 30px;
  color: #afb6bf;
}


.profile-image{
  width: 70%;
  height: auto;
  margin:0 auto;
}


.profile-main{
  width: 70%;
  background-color:white;
  padding: 20px;
  margin: 50px auto;
  border-radius: 10px;
  &:hover{
    transform: translateY(-2px);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  }
}

.profile-content{
  margin: 30px;
  background-color: white;
  border-bottom: 1px solid #66FFFF;
}



/*admin----------------------------------------------------------*/


/*comments-------------------------------------------------------*/
.comment-content{
  color: black;
}
/*edit-----------------------------------------------------------*/

/*index----------------------------------------------------------*/


/*likes----------------------------------------------------------*/

/*new------------------------------------------------------------*/

/*profile--------------------------------------------------------*/
.modal-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  display: none;
}

.modal {
  position: absolute;
  top: 20%;
  left: 34%;
  background-color: #e6ecf0;
  padding: 20px 0 40px;
  border-radius: 10px;
  width: 450px;
  height: auto;
  text-align: center;
}



